# Service account keys and credentials
*.json
!package.json
!package-lock.json
*.pem
*.p12
*.key
*.pfx

# Environment variables and secrets
#*.env*
#config
*infra-tempo-401122-*.json

# Logs and local data
logs/
*.log